@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('../fonts/MuseoSansCyrl.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-BlackItalic.ttf') format('ttruetype');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-ExtraBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: lighter;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'AlegreyaSans';
    src: url('../fonts/AlegreyaSans-ThinItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 100;
}

