.team{
    width: 100%;
    height: 100%;
    .header__team{
        text-align: center;
        margin-top: 150px;
        h1{
            margin: 0;
            font-size: 48px;
            font-family: 'AlegreyaSans';
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .peoples{
        position: absolute;
        max-width: 940px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        .borya{
            width: 220px;
            height: 290px;
        }
        .alla{
            width: 220px;
            height: 290px;
            margin-top: 50px;
        }
        .kirill{
            width: 220px;
            height: 290px;
            margin-top: -10px;
        }
        .mila{
            width: 220px;
            height: 290px;
            margin-top: 40px;
        }
    }
    .accordion{
        position: absolute;
        z-index: 3;
        margin-top: 380px;
        padding: 0;
        list-style: none;
        display: flex;
        max-width: 940px;
        justify-content: space-between;
        align-content: center;
    }
    .accordion__header{
        cursor: pointer;
        font-family: 'AlegreyaSans';
        font-weight: 500;
        font-size: 21px;
    }
    .accordion__header:after{
        content: '\25b2';
    }
    .accordion__header.active:after{
        content: '\25bc';
    }
    .accordion__main{
        position: relative;
        display: none;
        text-align: center;
        margin-left: -50px;
        max-width: 250px;
        h3{
            font-family: 'AlegreyaSans';
            font-weight: normal;
            font-size: 18px;
        }
        p{
            max-width: 250px;
            height: 100px;
            word-wrap: normal;
            font-family: 'AlegreyaSans';
            font-weight: lighter;
            font-size: 18px;
        }
    }
    .acc__borya{
        min-width: 250px;
        margin-left: 20px;
    }
    .acc__kirill{
        margin-top: -10px;
        min-width: 250px;
        margin-left: -30px;
    }
    .acc__alla{
        min-width: 250px;
        margin-top: 50px;
        margin-left: 10px;
    }
    .acc__mila{
        min-width: 250px;
        margin-top: 40px;
    }
    .team__back{
        position: relative;
    }
    .back6{
        position: absolute;
        z-index: 2;
        margin-left: -450px;
        margin-top: 600px;
    }
}